.dropdownContainer{
  display:flex; 
  flex-wrap: wrap; 
}
.parksDropdown{
  flex-basis: 20%; 
  margin: 10px; 
}
.attractionsDropdown{
  flex-basis: 20%; 
  margin: 10px; 
}
.eateriesDropdown{
  flex-basis: 20%;
  margin: 10px; 
}
