.itinerary__preview {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-between;
}
.previewCards {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 60%;
  border: 1px solid black;
  max-width: 500px;
  min-width: 500px;
  min-height: 400px;
  justify-content: space-around;
}

.parks__preview {
  border: 1px solid black;
  flex-basis: 20%;
  margin: 10px;
}
.attractions__preview {
  border: 1px solid black;
  flex-basis: 20%;
  margin: 10px;
}
.eateries__preview {
  border: 1px solid black;
  flex-basis: 20%;
  margin: 10px;
}

.itinerary {
  border: 1px solid black;
  flex-basis: 40%;
  min-width: 300px;
  max-width: 300px;
}
