

.itinerary__preview {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-between;
}
.previewCards {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 60%;
  max-width: 800px;
  min-width: 400px;
  min-height: 300px;
  justify-content: space-evenly;
}

.parks__preview {
  border: 1px double white;
  flex-basis: 20%;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
}

.attractions__preview {
  border: 1px double white;
  flex-basis: 20%;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
}

.eateries__preview {
  border: 1px double white;
  border-radius: 15px;
  flex-basis: 20%;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
}

.itinerary {
  border: 1px double white;
  flex-basis: 40%;
  min-width: 300px;
  max-width: 300px;  
}

.dialog--park_info {
  text-align: left;
}
.attractionsDetail {
  text-align: left;
}
.eatery-dialog {
  text-align: left;
}
.itinerary-info {
  
}
.saveItinerary{
  border: none;
  border-radius:12px; 
  width: 343px;
  height: 52px;
  left: 16px;
  top: 882px;
  color: rgb(21, 151, 21);
  margin: auto;
  background-color: rgba(22, 22, 22, 0.7);
}

.learnButton {
  border: none;
  border-radius:12px; 
  width: 100px;
  height: 40px;
  left: 16px;
  top: 882px;
  color: rgb(255, 255, 255);
  margin: auto;
  background-color: rgba(22, 22, 22, 0.7);
}

nav {
  width: 128px;
  height: 128px;
  left: 124px;
  top: 76px;
  text-shadow: 2px 2px 4px #000000;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUx2OsIt_OvArEec4_fumV6ej8IWWGigFSukT25xDkrmR5hKHy&s");
  border-radius: 50%;
}

.itColor {
  color: rgb(6, 168, 0);
}